@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family:'Poppins', sans-serif;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.banner .content .title {
    /* font-family: 'Hallowed Ground'; */
    font-size: 6rem;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(bg1.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}